#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.container {
  display: flex;
}

.column {
  margin: 0 12px
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}